.gamecanvas {
    border: 5px solid;
    border-color: black;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.version {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
