body {
    background-color: rgb(100, 100, 100);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.gamecanvas {
    border: 5px solid;
    border-color: white;
    margin-top: 25px;
    margin-left: 375px;
}

.title {
    margin-left: 725px;
    color: white;
}

.version {
    position: fixed;
    bottom: 10px;
    left: 10px;
}